<HTML>
    <BODY >
    Dear Tech Leader {{ user_name }},<BR><BR>

        您提出的 <strong>{{ project_name }}</strong> 的Jira申請已經被拒絕，原因如下，請確認，謝謝。<BR>
            
        <strong><li>簽核單號：</li></strong>
        {{ sign_id }}<BR>
        <strong><li>申請人備註：</li></strong>
        {{ remark }}<BR>
        <strong><li>簽核結果：</li></strong>
        {{ sign_result }}<BR><BR>

        Thank you.<BR><BR>

        This mail was sent by Robot , please do not reply.<BR>
        If you have any questions, please mail to Scott_Yang@wistron.com<BR><BR>

        IMP URL: {{ impurl }}
    </BODY>
</HTML>
