<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Project Code</th>
            <th>Division</th>
            <th>Division Supervisor</th>
            <th>Division Supervisor Email</th>
            <th>Mode</th>
            <th>Product Type</th>
            <th>Plan Start</th>
            <th>Plan End</th>
            <th>Jira Key</th>
            <th>Jira Name</th>
            <th>User PM/ PO</th>
            <th>User PM/ PO Email</th>
            <th>IT PM/ PO</th>
            <th>IT PM/PO Email</th>
            <th>Involve PMS</th>
            <th>Involve PMS From</th>
            <th>Involve PMS End</th>
            <th>Create Date</th>
            <th>Close</th>
            <th>Close Date</th>
            <th>Approve Date</th>
            <th>Transaction User</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{project_id}}</td>
            <td>{{project_name}}</td>
            <td>{{project_code}}</td>
            <td>{{division}}</td>
            <td>{{division_supervisor}}</td>
            <td>{{division_supervisor_email}}</td>
            <td>{{mode}}</td>
            <td>{{product_type}}</td>
            <td>{{plan_start}}</td>
            <td>{{plan_end}}</td>
            <td>{{jira_key}}</td>
            <td>{{jira_name}}</td>
            <td>{{user_contact}}</td>
            <td>{{user_contact_email}}</td>
            <td>{{it_contact}}</td>
            <td>{{it_contact_email}}</td>
            <td>{{involve_pms}}</td>
            <td>{{involve_pms_start}}</td>
            <td>{{involve_pms_end}}</td>
            <td>{{create_date}}</td>
            <td>{{close}}</td>
            <td>{{close_date}}</td>
            <td>{{approve_date}}</td>
            <td>{{trn_user}}</td>
        </tr>
    </tbody>
</table>