<HTML>
    <BODY >
    Hi Tech Leader {{ username }},<BR><BR>

        We already received your update for your project.<BR>
        We will update the Jira project ASAP, and let you know if done.<BR>

        {{ project_detail }}<BR>

        {{ vc_detail }}<BR>

        {{ user_detail }}<BR>

        Thank you.<BR><BR>

        This mail was sent by Robot , please do not reply.<BR>
        If you have any questions, please mail to Scott_Yang@wistron.com<BR><BR>

        IMP URL: {{ impurl }}
    </BODY>
</HTML>
